#core{
    display: flex;
    justify-content: center;
}

#start, #shop, #cart{
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

#shop > main{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

#cart > main{
    display: flex;
    flex-flow: column nowrap;
}

article{
    border: solid 3px black;
    padding: 15px;
    margin: 50px;
}

#checkout{
    height: 2.5rem;
    width: 75%;
    align-self: center;
}